<!-- @format -->

VITE_APP_NAME=Chirp

# Базова адреса сервера ASP.NET

VITE_PATH_TO_SERVER= https://localhost:7001/

# Префікс до API

VITE_PATH_TO_API=api/

# Мок-режим для розробки без бекенду (true/false)

VITE_USE_MOCK=false

# Константи

VITE_MAX_TWEET_LENGTH = 280

VITE_DEFAULT_AVATAR=

VITE_DEFAULT_BANNER=
